[submodule "CSC_182"]
	path = CSC_182
	url = https://github.com/Drum4life9/CSC_182
[submodule "CSC_183"]
	path = CSC_183
	url = https://github.com/Drum4life9/CSC_183
[submodule "CSC_241"]
	path = CSC_241
	url = https://github.com/Drum4life9/CSC_241
[submodule "CSC_242"]
	path = CSC_242
	url = https://github.com/Drum4life9/CSC_242
[submodule "CSC_285"]
	path = CSC_285
	url = https://github.com/Drum4life9/CSC_285
[submodule "CSC_352"]
	path = CSC_352
	url = https://github.com/Drum4life9/CSC_352
[submodule "CSC_Random"]
	path = CSC_Random
	url = https://github.com/Drum4life9/CSC_Random
[submodule "CSC_351"]
	path = CSC_351
	url = https://github.com/Drum4life9/CSC_351
	branch = main
[submodule "MAS_372"]
	path = MAS_372
	url = https://github.com/Drum4life9/MAS_372
[submodule "CSC_361_Concurrent"]
	path = CSC_361_Concurrent
	url = https://github.com/Drum4life9/CSC_361_Concurrent
[submodule "CSC_350_Deep_Learning"]
	path = CSC_350_Deep_Learning
	url = https://github.com/Drum4life9/CSC_350_Deep_Learning
